/* TODO Add site wide styles
orange #FB8122 rgb(251, 129, 34)
darkgrey #1D2228 rgb(29, 34, 40)
grey #E1E2E2 rgb(225, 226, 226)
*/
*{
    font-family: "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial";
    box-sizing: border-box;
}
body{
    margin: 0;
}
.navbar{
    width:100vw;
    background-color: rgb(29, 34, 40);
    padding: 10px;
    margin: 0;
    border-bottom: 5px solid  rgb(251, 129, 34)
}
.navbar-list{
    width:90vw;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.user-buttons{
    display: flex;
    justify-content: space-between;

}
.button{
    background-color: transparent;
    color: rgb(225, 226, 226);
    border:none;
    text-decoration: solid underline rgb(251, 129, 34) 5px ;
    cursor: pointer;

}
.active{
    color: rgb(255, 226, 226);
    text-decoration: none;
}
.navlink{
    color: rgb(255, 226, 226);
    text-decoration: none;
    border: none;
    text-decoration: solid underline rgb(251, 129, 34) 5px ;
    cursor: pointer;

}
.interview-box{
    width: 100vw;
    display: grid;
    height: 90vh;
    grid-template-columns: 25vw 50vw 25vw;
    grid-template-rows: auto;
    grid-template-areas: 'advice video question';
}
.interview-advice-list-box{
    grid-area: advice;
    background-color: rgb(29, 34, 40);
    color: rgb(rgb(255, 226, 226));
    box-sizing:  border-box;
}
.interview-advice-list{
    box-sizing:  border-box;
    list-style: none;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-right: 5px;
}
.interview-advice-header{
    color: rgb(251, 129, 34);
    font-size:20px;
    font-weight: bolder;
    text-shadow: 1px 1px 1px black;
    border-bottom : 1px solid;
}
.interview-advice{
    text-shadow: 1px 1px 1px black;
    color:  rgb(251, 129, 34);
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
    border-bottom: 1px solid rgb(251, 129, 34);
    margin-top: 10px;
}
.interview-advice-sub{
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-shadow: 1px 1px 1px black;
    color: rgb(255, 226, 226);
    font-size: 12px;
    justify-self: flex-end;
    display:flex;

}
.question{
    grid-area: question;
    width: 25vw;
    display: flex;
    background-color:  rgb(rgb(255, 226, 226));
    align-items: center;
    flex-direction: column;


}
.welcome{
    padding: 20px;
    width: 100%;
    color: rgb(251, 129, 34);
    font-size:20px;
    font-weight: bolder;
    text-shadow: 1px 1px 1px black;
    display:flex;
    justify-content:center;
    text-decoration: solid underline rgb(251, 129, 34) 2px ;
    background-color: rgb(29, 34, 40);
    box-sizing:  border-box;

}
.kvKMQz{
    grid-area: video;
}
.rs-play{
    background-color: rgb(255, 255, 255);
}
.rs-container{
    display: flex;
    justify-content: center;
}
/*
Credits for images
<a href="https://www.freepik.com/photos/business">Business photo created by yanalya - www.freepik.com</a>

*/
